<?xml version="1.0" encoding="utf-8"?>
<Content Key="0aeaacd6-efeb-4f40-82e7-aede303e7e19" Alias="CMS-Website Basic" Level="3">
  <Info>
    <Parent Key="db727a8a-0d7c-4d00-9efb-d4a2bf7382b4">Angebot</Parent>
    <Path>/Home/Angebot/CMSWebsiteBasic</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-11-03T18:59:52</CreateDate>
    <NodeName Default="CMS-Website Basic">
      <Name Culture="de-ch">CMS-Website Basic</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Das Preiswerte Angebot für Vereine und KMU's. Zukunftssicher, Open Source und flexibel erweiterbar, wenn deine Anforderungen wachsen sollten.]]></Value>
    </abstract>
    <callToActionButton>
      <Value><![CDATA[]]></Value>
    </callToActionButton>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[1]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[<p style="text-align: left;">Du möchtest eine günstige, flexible und Zukunftssichere Webseite. Mit einem der modernsten und flexibelsten Content Management Systeme auf Open Source Basis?</p>
<p style="text-align: left;">Du legst Wert auf persönlichen Kontakt für deine Anliege und möchtest dich nicht um technische Details kümmern?</p>
<p style="text-align: left;">Dann ist das CMS-Website Basic Angebot für einen Pauschalpreis von 1200.- genau das Richtige für dich.</p>
<p style="text-align: left;">Das Paket beinhaltet folgende Leistungen:</p>
<p style="text-align: left;"> </p>
<ul style="text-align: left;">
<li>Administrative Arbeiten (Domainreservierung und Konfiguration, Serverinfrastruktur einrichten)</li>
<li>Grundinstallation der Umbraco 9 CMS-Lösung
<ul>
<li>Benutzer und Rollenkonzept</li>
</ul>
</li>
<li>Erstellung eines persönlichen Designs mit individueller
<ul>
<li>Schriftart/ten und -grössen (Bei Lizenzpflichtigen Schriftarten trägt der Kunde die Mehrkosten)</li>
<li>Farben (Header, Footer, Contentbereich)</li>
<li>2-Stufige Navigation</li>
</ul>
</li>
<li>Erstellung von Schulungsvideos auf der Lösung</li>
<li>2 Seitentemplates mit individueller Inhaltseinteilung (weitere nach Aufwand)
<ul>
<li>Modulfeld/er bestückbar mit folgenden Modulen:
<ul>
<li>Teasermodul mit Bild, Anrisstext und Ziellink (intern oder extern)</li>
<li>Titel-Modul (HTML H2-H6 Element)</li>
<li>Videomodul (zur Anzeige von Videos im .mp4 Format, oder bei Youtube gehostete Videos mittels embedded-code)</li>
<li>Richtext-Modul (zur Anzeige von HTML-Text, editierbar mittels WYSIWYG-Editor)</li>
<li>Galeriekomponente
<ul>
<li>Einfache Slideshow mit Bildern, Texten und/oder Bild-Text Elementen</li>
</ul>
</li>
<li>Bild-Modul zur Anzeige von Bildern</li>
<li>Blog Modul zur Anzeige eines einfachen Blogs mit Listen- / Detailansicht</li>
<li>Kontaktformular mit Spamschutz und individualisierten und editierbaren Mailvorlagen</li>
<li>Flexible Lösung welche zukünftig auf deine Bedürfnisse angepasst werden kann (Anpassungen werden nach Aufwand verrechnet)</li>
</ul>
</li>
<li>Grundlegende Einrichtung und Beratung zur Suchmaschinenoptimierung (SEO)</li>
<li>Schulung auf der Lösung 2h inkl. via Videocall (auf Wunsch auch vor Ort, jedoch werden Fahrspesen und Aufwand separat verrechnet) weitere Beratungs- und Schulungsaufwände werden zu 120 Fr./h verrechnet.</li>
<li>Kosten für Domain und SSL-Zertifikat werden separat verrechnet</li>
</ul>
</li>
</ul>
<p style="text-align: left;"> </p>
<p style="text-align: left;">Für den Betrieb und das Hosting deiner neuen Website entstehen laufende Kosten, deren Höhe abhängig vom gewählten <a href="/{localLink:umb://document/1c299f0609a14b62b3d863a062d9cd1f}" title="Services">SLA</a> sind.</p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[CMS-Website Basic]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showCtaButton>
      <Value><![CDATA[]]></Value>
    </showCtaButton>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>