<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c299f06-09a1-4b62-b3d8-63a062d9cd1f" Alias="Services" Level="3">
  <Info>
    <Parent Key="db727a8a-0d7c-4d00-9efb-d4a2bf7382b4">Angebot</Parent>
    <Path>/Home/Angebot/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-11-03T21:28:17</CreateDate>
    <NodeName Default="Services">
      <Name Culture="de-ch">Services</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Hier findest du alles über die Service-Level-Agreements, welche Schenk Smart Solutions anbietet, sicher ist auch für dich das Richtige dabei.]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[1]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[<div style="display: block; width: 70%; margin: auto;">
<p style="text-align: left;">SLA 0 - Störungsmeldung per Mail (jederzeit) oder Telefon innerhalb Bürozeiten:</p>
<ul style="text-align: left;">
<li>Mo - Do 17 – 20 h</li>
<li>Fr 8 – 17 h</li>
<li>Sa 8 – 12 h</li>
<li>Best Effort (Sobald Ressourcen frei sind im Normalfall am darauffolgenden Freitag)</li>
<li>100 SFr. / Jahr</li>
</ul>
<p style="text-align: left;"> </p>
<p style="text-align: left;"> </p>
<p style="text-align: left;">SLA 1 - Störungsmeldung per Pikett-Telefon Reaktionszeit 5 Stunden innerhalb folgender Zeiten:</p>
<ul style="text-align: left;">
<li>Mo - Fr 8 - 20 h</li>
<li>Sa - So und Feiertage 9 - 19 h</li>
<li>Priorisierte Abarbeitung des Problemfalls am darauffolgenden Freitag</li>
<li>350 SFr. / Jahr</li>
</ul>
<p style="text-align: left;"> </p>
<p style="text-align: left;"> </p>
<p style="text-align: left;">SLA 2 - Störungsmeldung per Pikett-Telefon Reaktionszeit 1 Stunde 7 x 24h:</p>
<ul style="text-align: left;">
<li>Hochpriorisierte Abarbeitung des Problemfalls innerhalb 24h</li>
<li>1500 SFr. / Jahr</li>
</ul>
</div>
<p style="text-align: left;"><br /><br /><br />Unter Supportfälle fallen nur Betriebsstörungen der Website, welche die einwandfreie Funktion der Webplattform beeinträchtigen. Für die Pflege des Inhalts ist der Kunde in jedem Fall selbst verantwortlich.</p>
<p style="text-align: left;">Der Kunde erhält nach Abschluss des Projektes eine 2-Stündige Schulung direkt auf seiner Lösung, sowie eine Videodokumentation.</p>
<p style="text-align: left;">Support, welcher mit der Bedienung der Lösung zusammenhängt und nach Abschluss des Projektes und dessen Schulung entsteht, wird zu einem Stundenansatz von 120.- separat in Rechnung gestellt. Die Abrechnung erfolgt auf 5min genau.</p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Services]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>