<?xml version="1.0" encoding="utf-8"?>
<Content Key="4623ab9e-01c8-4b7b-b656-465b00024483" Alias="Winteraktion" Level="3">
  <Info>
    <Parent Key="db727a8a-0d7c-4d00-9efb-d4a2bf7382b4">Angebot</Parent>
    <Path>/Home/Angebot/Winteraktion</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-11-03T18:53:11</CreateDate>
    <NodeName Default="Winteraktion">
      <Name Culture="de-ch">Winteraktion</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Schenk Smart Solutions präsentiert die erste Winteraktion. Profitiere noch heute und tritt mit mir in Kontakt.  ]]></Value>
    </abstract>
    <callToActionButton>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </callToActionButton>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[<p>Die ersten fünf Kunden, welche ein <a href="/{localLink:umb://document/0aeaacd6efeb4f4082e7aede303e7e19}" title="CMS-Website Basic">CMS-Website Basic Paket</a> bestellen erhalten 650.- Fr. Rabatt. Die Aktion läuft bis zum 31.12.2021 und gilt nur für die im Pauschalpaket enthaltenen Leistungen.</p>
<p>Nutze diese Gelegenheit und investiere in eine neue Website. Mit Schenk Smart Solutions und Umbraco setzt du auf eine zukunftsträchtige und flexible Lösung, auf modernster ASP.NET 5 Technologie.</p>
<p>Hast du Fragen zum Angebot, dann stehe ich dir gerne zur Verfügung.   </p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Winteraktion]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showCtaButton>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </showCtaButton>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>